Repository R2Northstar/NorthstarLauncher, pull requests merged in 2022-11, with the labels that each got.

#316 Fix `status` hooks
  NorthstarDLL/dedicated.cpp
  NorthstarDLL/logging.cpp
Labels: needs testing, almost ready to merge

#323 Fix player count server presence (again)
  NorthstarDLL/serverauthentication.cpp
Labels: needs testing, almost ready to merge

#321 Restore `-waitfordebugger` flag
  NorthstarLauncher/main.cpp
Labels: needs code review

#292 Allow vmts to be loaded from disk
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/diskvmtfixes.cpp
Labels: needs testing, needs code review

#320 Logging improvements + Colours (new)
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/color.cpp
  NorthstarDLL/color.h
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/filesystem.cpp
  NorthstarDLL/logging.cpp
  NorthstarDLL/logging.h
  NorthstarDLL/loghooks.cpp
  NorthstarDLL/loghooks.h
  NorthstarDLL/nsprefix.cpp
  NorthstarDLL/pch.h
  NorthstarDLL/rpakfilesystem.cpp
  NorthstarDLL/sourceconsole.cpp
  NorthstarDLL/sourceconsole.h
  NorthstarDLL/squirrel.cpp
  NorthstarDLL/squirrel.h
Labels: needs testing, needs code review

#298 allow kb_act.lst to be compiled from multiple mods
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/kb_act.cpp
  NorthstarDLL/modmanager.cpp
  NorthstarDLL/modmanager.h
Labels: needs testing, needs code review, merge conflicts, waiting on changes by author

#299 Squirrel functions auto bind
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/clientchathooks.cpp
  NorthstarDLL/miscserverscript.cpp
  NorthstarDLL/scriptdatatables.cpp
  NorthstarDLL/scriptjson.cpp
  NorthstarDLL/scriptmainmenupromos.cpp
  NorthstarDLL/scriptmodmenu.cpp
  NorthstarDLL/scriptserverbrowser.cpp
  NorthstarDLL/scriptutility.cpp
  NorthstarDLL/serverchathooks.cpp
  NorthstarDLL/squirrel.h
  NorthstarDLL/squirrelautobind.cpp
  NorthstarDLL/squirrelautobind.h
Labels: needs testing, needs code review

#325 New crashhandler
  NorthstarDLL/crashhandler.cpp
  NorthstarDLL/crashhandler.h
Labels: needs testing, needs code review

#324 New syntax for reversed structs
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/filesystem.h
  NorthstarDLL/pch.h
  NorthstarDLL/r2engine.h
  NorthstarDLL/r2server.h
  NorthstarDLL/structs.h
Labels: needs testing, needs code review

#310 Squirrel bridge v3
  NorthstarDLL/NorthstarDLL.vcxproj
  NorthstarDLL/NorthstarDLL.vcxproj.filters
  NorthstarDLL/clientchathooks.cpp
  NorthstarDLL/hoststate.cpp
  NorthstarDLL/scriptservertoclientstringcommand.cpp
  NorthstarDLL/serverchathooks.cpp
  NorthstarDLL/squirrel.cpp
  NorthstarDLL/squirrel.h
  NorthstarDLL/squirrelclasstypes.h
  NorthstarDLL/squirreldatatypes.h
Labels: needs testing, needs code review

#232 Add parsing region field from JSON server list and exposing it to Squirrel
  NorthstarDLL/masterserver.cpp
  NorthstarDLL/masterserver.h
  NorthstarDLL/scriptserverbrowser.cpp
Labels: help wanted, feedback wanted
