Repository R2Northstar/NorthstarLauncher, pull requests merged in 2023-12, with the labels that each got.

#608 Add clang-format config to pack constructor initializers
  .clang-format
  .github/workflows/ci.yml
Labels: READY TO MERGE

#602 Disable more compression methods for minizip
  cmake/Findminizip.cmake
Labels: almost ready to merge, READY TO MERGE

#601 Rework `-vanilla` to be a vanilla compatibility mode
  NorthstarDLL/client/clientauthhooks.cpp
  NorthstarDLL/core/vanilla.h
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/masterserver/masterserver.cpp
  NorthstarDLL/shared/exploit_fixes/exploitfixes.cpp
  NorthstarDLL/squirrel/squirrel.cpp
  NorthstarLauncher/main.cpp
Labels: READY TO MERGE

#458 Add plugin dependency constants
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modmanager.h
  NorthstarDLL/plugins/plugins.cpp
  NorthstarDLL/squirrel/squirrel.cpp
Labels: READY TO MERGE

#595 Mod download UI integration
  NorthstarDLL/mods/autodownload/moddownloader.cpp
  NorthstarDLL/mods/autodownload/moddownloader.h
Labels: READY TO MERGE

#566 Fix SERVER | CLIENT context specifier error
  NorthstarDLL/squirrel/squirrelautobind.h
Labels: READY TO MERGE

#618 Cherry pick "remove unnecessary namespaces" from primedev
  NorthstarDLL/client/clientauthhooks.cpp
  NorthstarDLL/client/demofixes.cpp
  NorthstarDLL/client/languagehooks.cpp
  NorthstarDLL/client/r2client.cpp
  NorthstarDLL/client/r2client.h
  NorthstarDLL/client/rejectconnectionfixes.cpp
  NorthstarDLL/core/convar/convar.cpp
  NorthstarDLL/core/convar/cvar.cpp
  NorthstarDLL/core/convar/cvar.h
  NorthstarDLL/core/filesystem/filesystem.cpp
  NorthstarDLL/core/filesystem/filesystem.h
  NorthstarDLL/core/filesystem/rpakfilesystem.cpp
  NorthstarDLL/core/memalloc.cpp
  NorthstarDLL/core/tier0.cpp
  NorthstarDLL/core/tier0.h
  NorthstarDLL/dedicated/dedicated.cpp
  NorthstarDLL/dedicated/dedicatedlogtoclient.cpp
  NorthstarDLL/dedicated/dedicatedmaterialsystem.cpp
  NorthstarDLL/engine/host.cpp
  NorthstarDLL/engine/hoststate.cpp
  NorthstarDLL/engine/hoststate.h
  NorthstarDLL/engine/r2engine.cpp
  NorthstarDLL/engine/r2engine.h
  NorthstarDLL/engine/runframe.cpp
  NorthstarDLL/masterserver/masterserver.cpp
  NorthstarDLL/mods/compiled/kb_act.cpp
  NorthstarDLL/mods/compiled/modkeyvalues.cpp
  NorthstarDLL/mods/compiled/modpdef.cpp
  NorthstarDLL/mods/compiled/modscriptsrson.cpp
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modsavefiles.cpp
  NorthstarDLL/scripts/client/clientchathooks.cpp
  NorthstarDLL/scripts/client/scriptserverbrowser.cpp
  NorthstarDLL/scripts/scriptdatatables.cpp
  NorthstarDLL/scripts/scripthttprequesthandler.cpp
  NorthstarDLL/scripts/scriptutility.cpp
  NorthstarDLL/scripts/server/miscserverscript.cpp
  NorthstarDLL/scripts/server/scriptuserinfo.cpp
  NorthstarDLL/server/alltalk.cpp
  NorthstarDLL/server/auth/bansystem.cpp
  NorthstarDLL/server/auth/serverauthentication.cpp
  NorthstarDLL/server/auth/serverauthentication.h
  NorthstarDLL/server/buildainfile.cpp
  NorthstarDLL/server/r2server.cpp
  NorthstarDLL/server/r2server.h
  NorthstarDLL/server/serverchathooks.cpp
  NorthstarDLL/server/servernethooks.cpp
  NorthstarDLL/shared/exploit_fixes/exploitfixes.cpp
  NorthstarDLL/shared/exploit_fixes/ns_limits.cpp
  NorthstarDLL/shared/exploit_fixes/ns_limits.h
  NorthstarDLL/shared/maxplayers.cpp
  NorthstarDLL/shared/maxplayers.h
  NorthstarDLL/shared/misccommands.cpp
  NorthstarDLL/shared/playlist.cpp
  NorthstarDLL/squirrel/squirrel.cpp
  NorthstarDLL/util/printcommands.cpp
  NorthstarDLL/util/printmaps.cpp
  NorthstarDLL/util/utils.cpp
  NorthstarDLL/util/utils.h
Labels: needs code review

#621 Add Action to add label to PR on merge conflict
  .github/workflows/merge-conflict-auto-label.yml
Labels: feedback wanted

#627 Simplify vscript stub function
  primedev/squirrel/squirrel.cpp
Labels: needs code review, almost ready to merge
