Repository R2Northstar/NorthstarLauncher, pull requests merged in 2023-11, with the labels that each got.

#558 Expose `Northstar.dll` version to squirrel
  NorthstarDLL/squirrel/squirrel.cpp
Labels: READY TO MERGE

#539 Convar print commands
  NorthstarDLL/util/printcommands.cpp
Labels: READY TO MERGE

#472 Plugins v3
  NorthstarDLL/CMakeLists.txt
  NorthstarDLL/core/convar/concommand.cpp
  NorthstarDLL/core/convar/convar.cpp
  NorthstarDLL/core/hooks.cpp
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/engine/hoststate.cpp
  NorthstarDLL/plugins/plugin_abi.h
  NorthstarDLL/plugins/pluginbackend.cpp
  NorthstarDLL/plugins/pluginbackend.h
  NorthstarDLL/plugins/plugins.cpp
  NorthstarDLL/plugins/plugins.h
  NorthstarDLL/shared/gamepresence.cpp
  NorthstarDLL/shared/gamepresence.h
  NorthstarDLL/squirrel/squirrel.cpp
  NorthstarDLL/squirrel/squirrel.h
  NorthstarDLL/squirrel/squirrelclasstypes.h
Labels: READY TO MERGE

#543 Don't log masterserver registration errors in the lobby
  NorthstarDLL/masterserver/masterserver.cpp
Labels: READY TO MERGE

#596 Add mod versions when logging that a mod has loaded
  NorthstarDLL/mods/modmanager.cpp
Labels: needs testing

#583 Improve replacing `xinput1_3` with `xinput9_1`
  NorthstarDLL/core/hooks.cpp
Labels: needs testing, almost ready to merge

#548 Move player auth to `CServer::ConnectClient`
  NorthstarDLL/server/auth/serverauthentication.cpp
  NorthstarDLL/server/auth/serverauthentication.h
Labels: READY TO MERGE
