Repository R2Northstar/NorthstarLauncher, pull requests merged in 2023-10, with the labels that each got.

#529 Add a safeguard to map command
  NorthstarDLL/util/printmaps.cpp
Labels: READY TO MERGE

#554 Fix crash when running `disconnect %%s`
  NorthstarDLL/client/rejectconnectionfixes.cpp
Labels: READY TO MERGE

#561 Revert "Add a safeguard to map command"
  NorthstarDLL/util/printmaps.cpp
Labels: bug

#540 Always allow the local player through the banlist
  NorthstarDLL/server/auth/bansystem.cpp
Labels: READY TO MERGE

#563 Give `g_pMemAllocSingleton` a default value
  NorthstarDLL/core/tier0.cpp
Labels: needs code review

#550 Define indent size in editorconfig
  .editorconfig
Labels: READY TO MERGE

#565 Write date to logs
  NorthstarDLL/logging/logging.cpp
Labels: feedback wanted, almost ready to merge

#468 Expose origin auth state and errors to squirrel
  NorthstarDLL/CMakeLists.txt
  NorthstarDLL/masterserver/masterserver.cpp
  NorthstarDLL/masterserver/masterserver.h
  NorthstarDLL/scripts/client/scriptoriginauth.cpp
  NorthstarDLL/scripts/client/scriptserverbrowser.cpp
Labels: READY TO MERGE

#555 Reduce warnings due to calling conventions
  NorthstarDLL/core/convar/concommand.h
  NorthstarDLL/core/hooks.h
  NorthstarDLL/shared/maxplayers.cpp
  NorthstarDLL/squirrel/squirrel.cpp
Labels: READY TO MERGE

#477 Rewrite crash handler
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/logging/crashhandler.cpp
  NorthstarDLL/logging/crashhandler.h
Labels: READY TO MERGE

#410 Create mod entry in `enabledmods.json` if it doesn't exist
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modmanager.h
Labels: READY TO MERGE

#515 Add `mileslog_enable` convar
  NorthstarDLL/client/audio.cpp
Labels: READY TO MERGE

#570 Fixed mixed indentation in utils.cmake
  cmake/utils.cmake
Labels: needs code review, almost ready to merge

#571 Make link to BUILD.md relative to README.md
  README.md
Labels: needs code review, almost ready to merge

#581 Move plugin communication handler init out of plugin manager init
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/plugins/pluginbackend.cpp
  NorthstarDLL/plugins/pluginbackend.h
  NorthstarDLL/plugins/plugins.cpp
Labels: READY TO MERGE

#575 Add check for r2/maps folder
  NorthstarDLL/util/printmaps.cpp
Labels: READY TO MERGE

#534 Fix proton detection output
  NorthstarDLL/logging/logging.cpp
Labels: READY TO MERGE

#541 Use 4th digit in version number for CI build number
  .github/workflows/ci.yml
  NorthstarDLL/util/version.cpp
Labels: READY TO MERGE

#492 Replace field preprocessors with less hacky solutions
  NorthstarDLL/core/structs.h
Labels: READY TO MERGE

#538 Refactor `debugoverlay.cpp` (fix smart pistol lines)
  NorthstarDLL/client/debugoverlay.cpp
Labels: READY TO MERGE
