Repository R2Northstar/NorthstarLauncher, pull requests merged in 2023-07, with the labels that each got.

#474 Basic mods blacklisting
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modmanager.h
Labels: needs code review

#499 Improve `ShouldLoadNorthstar()` logic readability
  NorthstarLauncher/main.cpp
Labels: needs testing, needs code review

#445 Improve logging for mods
  NorthstarDLL/core/filesystem/filesystem.cpp
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modmanager.h
Labels: almost ready to merge

#503 Add support for loading Thunderstore mods natively
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/mods/modmanager.h
Labels: almost ready to merge

#497 CMAKE: set build type if not previously set, turn bin dir message into status
  CMakeLists.txt
Labels: needs testing, almost ready to merge

#502 Add OS, Wine and Proton logging
  NorthstarDLL/dllmain.cpp
  NorthstarDLL/logging/logging.cpp
  NorthstarDLL/logging/logging.h
Labels: almost ready to merge

#404 Safe I/O 2 - Electric Boogaloo!
  NorthstarDLL/CMakeLists.txt
  NorthstarDLL/mods/modsavefiles.cpp
  NorthstarDLL/mods/modsavefiles.h
  NorthstarDLL/scripts/scriptjson.h
  NorthstarDLL/squirrel/squirrel.cpp
Labels: merge conflicts

#519 Remove `pch.cpp` and all `#include "pch.h"` occurrences
  NorthstarDLL/dedicated/dedicatedlogtoclient.cpp
  NorthstarDLL/mods/modsavefiles.cpp
  NorthstarDLL/pch.cpp
  NorthstarDLL/plugins/pluginbackend.cpp
  NorthstarDLL/plugins/pluginbackend.h
  NorthstarDLL/scripts/scriptjson.h
  NorthstarDLL/shared/gamepresence.cpp
  NorthstarDLL/shared/gamepresence.h
  loader_wsock32_proxy/CMakeLists.txt
  loader_wsock32_proxy/dllmain.cpp
  loader_wsock32_proxy/loader.cpp
  loader_wsock32_proxy/pch.cpp
Labels: needs testing, needs code review

#526 Warn about the package dir, not the mod dir
  NorthstarDLL/mods/modmanager.cpp
Labels: needs code review

#525 Validate package pattern before checking for plugins
  NorthstarDLL/mods/modmanager.cpp
  NorthstarDLL/plugins/plugins.cpp
Labels: needs testing, needs code review

#510 Turn VPKData into a opaque struct
  NorthstarDLL/core/filesystem/filesystem.h
Labels: needs code review
