Repository R2Northstar/NorthstarLauncher, pull requests merged in 2023-09, with the labels that each got.

#531 Linux build instructions in `BUILD.md`
  BUILD.md
  Dockerfile
Labels: almost ready to merge

#544 Fix `CSquirrelVM::Init` hook in `server.dll`
  NorthstarDLL/squirrel/squirrel.cpp
Labels: bug, READY TO MERGE

#516 Set `spewlog_enable` default value to 0
  NorthstarDLL/logging/loghooks.cpp
Labels: READY TO MERGE
