Repository R2Northstar/NorthstarLauncher, pull requests merged in 2024-11, with the labels that each got.

#819 Remove uses of Autohook from `clientchathooks.cpp`
  primedev/scripts/client/clientchathooks.cpp
Labels: needs testing, almost ready to merge

#824 server: Remove uses of Autohook from `buildainfile.cpp`
  primedev/server/buildainfile.cpp
Labels: needs testing, needs code review

#810 engine: Remove uses of Autohook from `runframe.cpp`
  primedev/engine/runframe.cpp
Labels: needs testing, almost ready to merge

#812 Remove uses of Autohook from `loghooks.cpp`
  primedev/logging/loghooks.cpp
Labels: almost ready to merge

#826 refactor: Mod information
  primedev/scripts/client/scriptmodmenu.cpp
Labels: needs testing, depends on another PR

#815 feat: Make MAD process cancellable
  primedev/mods/autodownload/moddownloader.cpp
  primedev/mods/autodownload/moddownloader.h
Labels: READY TO MERGE, MAD

#682 mods(Safe I/O): Only allow creating files with whitelisted filetypes
  primedev/mods/modsavefiles.cpp
Labels: READY TO MERGE

#536 Send all mods to Atlas that are enabled
  primedev/mods/modmanager.cpp
Labels: depends on another PR, READY TO MERGE

#829 refactor: Move mod content related logic to dedicated package
  primedev/Northstar.cmake
  primedev/mods/mod.cpp
  primedev/mods/mod.h
  primedev/mods/modmanager.cpp
  primedev/mods/modmanager.h
Labels: READY TO MERGE
