Repository R2Northstar/NorthstarLauncher, pull requests merged in 2024-07, with the labels that each got.

#408 Properly handle invalid cvar replications without blocking netmessage
  primedev/server/serverpresence.cpp
  primedev/shared/exploit_fixes/exploitfixes.cpp
Labels: breaking change

#698 Make Script Errors from Northstar Callbacks Fatal
  primedev/squirrel/squirrel.h
Labels: READY TO MERGE

#684 Expose mods remote status to Squirrel VM
  primedev/scripts/client/scriptmodmenu.cpp
Labels: READY TO MERGE

#677 Fix multiple audio file overrides
  primedev/client/audio.cpp
  primedev/client/audio.h
  primedev/mods/modmanager.cpp
Labels: READY TO MERGE

#754 Fix logging sometimes not working
  primedev/logging/logging.cpp
Labels: needs testing, READY TO MERGE

#751 Only fetch MAD manifesto on server join
  primedev/mods/autodownload/moddownloader.cpp
  primedev/mods/autodownload/moddownloader.h
Labels: READY TO MERGE

#692 Add CreateScriptInstance
  primedev/squirrel/squirrel.cpp
  primedev/squirrel/squirrel.h
  primedev/squirrel/squirrelclasstypes.h
Labels: needs testing, READY TO MERGE
