Repository R2Northstar/NorthstarLauncher, pull requests merged in 2024-08, with the labels that each got.

#762 Fix postload crash from missing `rpak.json`
  primedev/mods/modmanager.cpp
Labels: needs testing, almost ready to merge

#665 Refactor DLL callbacks
  primedev/Northstar.cmake
  primedev/core/hooks.cpp
  primedev/core/hooks.h
  primedev/dllmain.cpp
  primedev/windows/libsys.cpp
  primedev/windows/libsys.h
Labels: needs code review, READY TO MERGE

#768 Fix casing of `KERNEL32.DLL`
  primedev/windows/libsys.cpp
Labels: needs testing, needs code review

#769 Try loading XInput 1.4 before trying to load 9.1.0
  primedev/windows/libsys.cpp
Labels: READY TO MERGE

#763 engine: Restore `mat_crosshair_printmaterial` concommand
  primedev/Northstar.cmake
  primedev/engine/gl_matsysiface.cpp
  primedev/materialsystem/cmaterialglue.h
  primedev/materialsystem/cshaderglue.h
Labels: READY TO MERGE

#774 Fix manual hooks storing their name badly
  primedev/core/hooks.cpp
  primedev/core/hooks.h
Labels: needs testing, needs code review

#780 Call module callbacks for nested imported modules (i.e `mileswin64.dll`)
  primedev/thirdparty/silver-bun/module.cpp
  primedev/thirdparty/silver-bun/module.h
  primedev/windows/libsys.cpp
Labels: needs testing, needs code review

#782 Remove uses of Autohook from `clientauthhooks.cpp`
  primedev/client/clientauthhooks.cpp
Labels: needs testing

#784 Remove uses of Autohook from `clientvideooverrides.cpp`
  primedev/client/clientvideooverrides.cpp
Labels: needs testing

#783 Remove uses of Autohook from `clientruihooks.cpp`
  primedev/client/clientruihooks.cpp
Labels: needs testing

#777 Remove uses of Autohook from `audio.cpp`
  primedev/client/audio.cpp
Labels: needs code review, almost ready to merge

#786 Remove uses of Autohook from `debugoverlay.cpp`
  primedev/client/debugoverlay.cpp
Labels: needs code review, almost ready to merge

#790 Fix module callbacks related crash
  primedev/thirdparty/silver-bun/module.cpp
Labels: needs code review, almost ready to merge

#793 Remove uses of Autohook from `rejectconnectionfixes.cpp`
  primedev/client/rejectconnectionfixes.cpp
Labels: needs code review, almost ready to merge

#795 Remove uses of Autohook from `filesystem.cpp`
  primedev/core/filesystem/filesystem.cpp
Labels: needs testing, almost ready to merge

#796 Remove uses of Autohook from `hooks.cpp`
  primedev/core/hooks.cpp
Labels: needs testing, needs code review

#787 Remove uses of Autohook from `languagehooks.cpp`
  primedev/client/languagehooks.cpp
Labels: needs testing

#798 Remove uses of Autohook from `sourceinterface.cpp`
  primedev/core/sourceinterface.cpp
Labels: READY TO MERGE
