Repository R2Northstar/NorthstarLauncher, pull requests merged in 2024-01, with the labels that each got.

#604 Add ban/kick concommand completion
  primedev/core/convar/concommand.cpp
  primedev/server/auth/bansystem.cpp
Labels: READY TO MERGE

#613 Remove `structs.h` in favor of manual padding
  primedev/Northstar.cmake
  primedev/core/filesystem/filesystem.h
  primedev/core/structs.h
  primedev/engine/r2engine.h
  primedev/pch.h
  primedev/server/r2server.h
Labels: READY TO MERGE

#633 Always print masterserver response request id
  primedev/masterserver/masterserver.cpp
Labels: needs testing

#611 Add slow-speed timeout when downloading mod
  primedev/mods/autodownload/moddownloader.cpp
Labels: needs testing, almost ready to merge

#652 Remove unused variable in mod concommands
  primedev/mods/modmanager.cpp
Labels: needs code review
