Repository R2Northstar/NorthstarLauncher, pull requests merged in 2024-09, with the labels that each got.

#801 Remove uses of Autohook from `gl_matsysiface.cpp`
  primedev/engine/gl_matsysiface.cpp
Labels: needs testing, almost ready to merge

#788 vscript: Move squirrel types to their respective files
  primedev/Northstar.cmake
  primedev/mods/modsavefiles.cpp
  primedev/scripts/scriptdatatables.cpp
  primedev/scripts/scripthttprequesthandler.cpp
  primedev/scripts/scriptjson.cpp
  primedev/scripts/scriptjson.h
  primedev/squirrel/squirrel.cpp
  primedev/squirrel/squirrel.h
  primedev/squirrel/squirrelautobind.h
  primedev/squirrel/squirrelclasstypes.h
  primedev/squirrel/squirreldatatypes.h
  primedev/vscript/languages/squirrel_re/include/squirrel.h
  primedev/vscript/languages/squirrel_re/squirrel/sqarray.h
  primedev/vscript/languages/squirrel_re/squirrel/sqclosure.h
  primedev/vscript/languages/squirrel_re/squirrel/sqcompiler.h
  primedev/vscript/languages/squirrel_re/squirrel/sqfunctionproto.h
  primedev/vscript/languages/squirrel_re/squirrel/sqlexer.h
  primedev/vscript/languages/squirrel_re/squirrel/sqobject.h
  primedev/vscript/languages/squirrel_re/squirrel/sqopcodes.h
  primedev/vscript/languages/squirrel_re/squirrel/sqstate.h
  primedev/vscript/languages/squirrel_re/squirrel/sqstring.h
  primedev/vscript/languages/squirrel_re/squirrel/sqstruct.h
  primedev/vscript/languages/squirrel_re/squirrel/sqtable.h
  primedev/vscript/languages/squirrel_re/squirrel/squserdata.h
  primedev/vscript/languages/squirrel_re/squirrel/sqvector.h
  primedev/vscript/languages/squirrel_re/squirrel/sqvm.h
  primedev/vscript/languages/squirrel_re/vsquirrel.h
  primedev/vscript/vscript.h
Labels: needs testing

#808 Update build instructions and CI for `build` subfolder
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  BUILD.md
Labels: needs testing, needs code review

#809 Ensure whitespace indentation is consistent in Dockerfile
  Dockerfile
Labels: needs code review

#813 Bump clang-format-lint-action to v0.18.2
  .github/workflows/ci.yml
Labels: needs testing, needs code review

#814 Add dependabot config to check for GitHub Actions updates
  .github/dependabot.yml
Labels: needs testing, needs code review

#805 core: Remove use of `SourceInterface` for `IFileSystem`
  primedev/core/filesystem/filesystem.cpp
  primedev/core/filesystem/filesystem.h
  primedev/mods/modmanager.cpp
  primedev/scripts/scriptdatatables.cpp
Labels: needs code review, almost ready to merge

#811 Remove uses of Autohook from `logging.cpp`
  primedev/logging/logging.cpp
Labels: needs testing, needs code review

#766 Big rpak loading refactor
  primedev/core/filesystem/rpakfilesystem.cpp
  primedev/core/filesystem/rpakfilesystem.h
  primedev/mods/modmanager.cpp
  primedev/mods/modmanager.h
  primedev/scripts/scriptdatatables.cpp
Labels: READY TO MERGE

#748 Adjust for restructured `verified-mods.json`
  primedev/mods/autodownload/moddownloader.cpp
  primedev/mods/autodownload/moddownloader.h
Labels: READY TO MERGE

#666 Set thread names for game threads
  primedev/client/audio.cpp
  primedev/core/tier0.cpp
Labels: READY TO MERGE

#822 remove useless log
  primedev/plugins/plugins.cpp
Labels: needs testing, needs code review

#800 Remove uses of Autohook from `dedicatedmaterialsystem.cpp`
  primedev/dedicated/dedicatedmaterialsystem.cpp
Labels: needs testing, almost ready to merge

#806 Remove uses of Autohook from `hoststate.cpp`
  primedev/engine/hoststate.cpp
Labels: needs testing, needs code review
