Repository R2Northstar/NorthstarLauncher, pull requests merged in 2025-05, with the labels that each got.

#847 fix: Add vanilla compatibility for `setplaylistvaroverride` byte-patch
  primedev/shared/playlist.cpp
Labels: READY TO MERGE

#844 Add `FCVAR_ARCHIVE_PLAYERPROFILE` flag to a few convars
  primedev/shared/misccommands.cpp
Labels: almost ready to merge

#854 determine calling plugin by return address
  primedev/plugins/interfaces/sys/ISys.cpp
  primedev/plugins/interfaces/sys/ISys.h
Labels: needs testing
