Repository R2Northstar/NorthstarLauncher, pull requests merged in 2025-04, with the labels that each got.

#841 Fix crashing when reading audio samples with wide characters
  primedev/client/audio.cpp
  primedev/thirdparty/spdlog/tweakme.h
Labels: READY TO MERGE

#834 server: Remove uses of Autohook from`serverchathooks.cpp`
  primedev/server/serverchathooks.cpp
Labels: READY TO MERGE

#521 Fix crash in `ReadFileAsync`
  primedev/core/filesystem/rpakfilesystem.cpp
Labels: needs testing

#845 Revert "Fix crash in `ReadFileAsync`"
  primedev/core/filesystem/rpakfilesystem.cpp
Labels: needs testing, needs code review

#832 refactor: Mod information file export
  primedev/mods/modmanager.cpp
  primedev/mods/modmanager.h
Labels: READY TO MERGE

#848 fix: LGBT logo being enabled by default
  primedev/primelauncher/resources.rc
Labels: needs testing, needs code review

#846 Fix Null Deref crash
  primedev/core/filesystem/rpakfilesystem.cpp
Labels: needs testing, needs code review

#849 Set execution markers properly
  primedev/shared/exploit_fixes/exploitfixes.cpp
Labels: needs code review
